# Dependencies
node_modules/
**/node_modules/

# Production and Dev Builds
dist/
**/dist/
dist-ssr/
miniprogram/unpackage/

# Environment & Secret files
.env
.env.*
!.env.example
server/.env
*.csv
AccessKey.csv

# SQLite Databases & Local Storage
*.db
*.db-journal
*.db-wal
*.db-shm
server/dev.db
server/prisma/dev.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server/server.log

# System & OS Files
.DS_Store
Thumbs.db

# IDE & Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary media & cache
.tempmediaStorage/
.system_generated/
